{{!-- <div class="row">
  <div class="col-xs-12 col-lg-10 offset-lg-1">
    <div class="row">
      <h1 class="mb-3">{{capitalize tag}}</h1>
      {{#each posts}}
      <div class="col-xs-12">
        <div class="card shadow-sm p-4">
          <div class="card-body">
            <div class="card-text">
              <h4>
                <a href="/{{this.permalink}}">{{this.title}}</a> 
              </h4>
              {{this.summary}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div> --}}

<div class="row">
  <div class="col-xs-12 col-lg-10 offset-lg-1 mb-4">
    <div class="row">
      <h1 class="mb-3">{{capitalize tag}}</h1>
      <div class="list-group-wrapper">
      {{#each posts}}
      <div class="list-group">
        <a href="/{{this.permalink}}" class="p-4 list-group-item list-group-tag flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{this.title}}</h5>
          </div>
          <p>{{this.summary}}</p>
        </a>
      </div>
      {{/each}}
      </div>
    </div>
  </div>
</div>